.jtest/
.parasoft
.project
.settings/
.classpath
.idea/
.gradle/

build/
target/
bin/
**/*.swp


# All below configurations are copied from: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore 
# Covers JetBrains IDEs: IntelliJ
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
**/.idea/**/workspace.xml
**/.idea/**/runConfigurations/

# Gradle:
**/.idea/**/gradle.xml
**/.idea/**/libraries/

# IntelliJ
out/